adminUser: admin
adminPassword: admin

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 512Mi

persistence:
  enabled: false

plugins:
  - grafana-opensearch-datasource

