replicas: 1

opensearchJavaOpts: "-Xms512m -Xmx512m"

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    memory: "1Gi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "1"

config:
  opensearch.yml: |
    plugins.security.disabled: true

