replicaCount: 1

image:
  repository: adityahere/severus-ai
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8501

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: severus-ai.local
      paths:
        - path: /
          pathType: Prefix
